.bgbluegray50{background-color:#ECEFF1 !important;}
.bgbluegray100{background-color:#CFD8DC !important;}
.bgbluegray200{background-color:#B0BEC5 !important;}
.bgbluegray300{background-color:#90A4AE !important;}
.bgbluegray400{background-color:#607D8B !important;}
.bgbluegray500{background-color:#607D8B !important;}
.bgbluegray600{background-color:#546E7A !important;}
.bgbluegray700{background-color:#455A64 !important;}
.bgbluegray800{background-color:#37474F !important;}
.bgbluegray900{background-color:#263238 !important;}

.bgpastelred1 { background-color: #fa0202 !important; }

.centrix_bgmenu { background-color: #0d7182 !important; }
.centrix_bgyellow { background-color: #fef6a3 !important; }
.centrix_bggrey { background-color: #f4f4f4 !important; }
/* green  00838a  
dark green 0d7284
menu 0d7182
font green bdd9de
yellow fef6a3
yellow1 e1c55a
ligth grey f4f4f4 , f3f3f3
red feb77b
icon grey bcbcbc
icon green 86b9c2 92bfc7
icon red ffd8cc
icon black 585858
button green 4995a2
font grey bbbbbb */