

  table {
    border-collapse: collapse;
   
    width: 100%;
  }

  th,
  td {
    text-align: left;
    padding: 0px;
  }

  tr:nth-child(even) {
    /* background-color: #dfdede; */
    padding: 0px;
  }

  th {
    /* background-color: #4CAF50; */
    color: white;
  }

  .input-fields {
    width: 50%;
  }
/* 
  .btnwidth1 {
    width: 30%;
  } */