<form id="testa" hidden>
    <style type="text/css">
        #chart1 {
            float: left;
            width: 365px;
            height: 240px;
            /*border:solid 2px red;*/
            background-color: #F9F9DD;
            text-align: center;
        }
        
        #chart2 {
            float: left;
            width: 365px;
            height: 240px;
            /*border:solid 2px green;*/
            margin-left: 20px;
            background-color: #DBF0F7;
            text-align: center;
        }
        
        #chart3 {
            float: left;
            width: 365px;
            height: 240px;
            /*border:solid 2px green;*/
            margin-left: 20px;
            background-color: #FAECFF;
            text-align: center;
        }
    </style>

    <div id='chart1'></div>
    <div id='chart2'></div>
    <div id='chart3'></div>

</Form>